outputs
wandb
sft_adapters
train_checkpoints
eval_logs
job_configs
train_logs
helix-finetuning-logs
#add safe tensors, model ckpt and bin file types to gitignore

*.ckpt
*.bin
*.pth
*.pt
*.tar
*.tar.gz
*.model
*.safetensors