outputs
wandb
sft_adapters
sft_adapters_BACKUP
train_checkpoints
eval_logs
job_configs
train_logs
helix-finetuning-logs
helix-inference-logs
master_metrics.lock
/home/fr/fr_fr/fr_rf1031/bar-llama/master_metrics.csv
job_scripts_final_run_part_1
logs_final_run_part_1
job_scripts/

database
#add safe tensors, model ckpt and bin file types to gitignore
model_outputs
parsing_metadata
job_scripts
logs
results_DEPRECATED
*.ckpt
*.bin
*.pth
*.pt
*.tar
*.tar.gz
*.model
*.safetensors
*.log